@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about our system visit
                <a href="" title="System recruitment">http://</a>.
                The page features <mark>shows information</mark> to help you get the most from our system.
                If you have any questions about help/faq visit
                <a href="http://" title="System recruitment agency">our help</a>.
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        Fill your personal information
        <a href="../Applicant/Add">Click here</a>
    </li>

    <li class="two">
        <h5>Add your skills. The next step.</h5>
        <a href="../Skill/index">Learn more…</a>
    </li>

    <li class="three">
        <h5>Confirm the information, finalize and submit</h5>
        <a href="">Learn more…</a>

    </li>
</ol>
